.wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  padding-top: 20%;
}

.plateContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  position: relative;
  padding: 0;
}
.icon {
  position: absolute;
  top: 40px;
}
.plate {
  max-width: 350px;
}
