.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  height: 100%;
  /* padding-left: 400px; */
}

.heading {
  font-size: 50px;
  color: var(--primaryColor);
}
.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 45px;
  max-width: 700px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.title {
  font-size: 30px;
  color: var(--primaryColor);
  position: relative;
}
.title::before {
  content: "";
  position: absolute;

  width: 130px;
  border: 1px dashed var(--primaryColor);
  left: 0;
  top: 50%;

  transform: translate(calc(-100% - 20px), -50%);
}

.info {
  font-size: 20px;
  color: var(--primaryColor);
  line-height: 140%;
}
/* .plateContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;

  padding: 0;
}
.plateContainer {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 200px), -50%);
}
.icon {
  position: absolute;
  top: 40px;
}
.plate {
  max-width: 350px;
} */
